{% extends "::layout.html.twig" %}

{% block body %}



{% block cabecero_block %}
  <img src="http://placehold.it/350x150?text=LOGO"

     style="float:left; margin-right:50px;" alt="LOGO"></img>
  <h1>MY SYMFONY WEB BLOG</h1>
  <hr>
  <h4><a href="http://localhost:8000/app_dev.php/blog">
    HOME | </a>
    <a href="http://localhost:8000/app_dev.php/new">
      Add new Post +</a></h4><hr>
{% endblock %}



  {% block post_block %}


  {% block post %}
  <article>
    <h2>{{ post.postTitle }}</h2>
    <h4>{{ post.postDate }} |
      <a href="http://localhost:8000/app_dev.php/blog/{{post.postUser}}">
      {{ post.postAutor }}</a></h4>
      {% if post.imageName %}
        <img src="{{ asset('bundles/blogmain/images/posts/') }}{{ post.imageName }}"

        width="auto" style="margin:1em;"></img>
      {% endif %}
      <div>{{ post.postContent | nl2br | raw }}</div>
  </article>
  <h4><a href="http://localhost:8000/app_dev.php/blog">
    < Back to Blog</a> |
    <a href="http://localhost:8000/app_dev.php/delete/{{ post.id }}">
      Delete x</a>
  </h4>
  {% endblock %}


  {% endblock %}



{% endblock %}
