{% extends "::layout.html.twig" %}

{% block body %}



{% block cabecero_block %}
  <img src="http://placehold.it/350x150?text=LOGO"

     style="float:left; margin-right:50px;" alt="LOGO"></img>
  <h1>MY SYMFONY WEB BLOG</h1>

  <div  id="navbar">
    <ul>
      <li><a href="http://localhost:8000/app_dev.php/blog">HOME</a></li>
      <li><a href="http://localhost:8000/app_dev.php/new">Add new Post +</a></li>
    </ul>
  </div>
<hr>
{% endblock %}



  {% block posts_block %}

    {% for post in posts %}

      {% block post %}
      <article style="margin-top:3em;">
        <h2>{{ post.postTitle }}</h2>
        <h4>{{ post.postDate }} |
          <a href="http://localhost:8000/app_dev.php/blog/{{post.postUser}}">
          {{ post.postAutor }}</a></h4>
          {% if post.imageName %}
            <img style="float:left" src="{{ asset('bundles/blogmain/images/posts/') }}{{ post.imageName }}"

            width="auto" style="margin:1em;"></img>
          {% endif %}
          <div>{{ post.postContent |raw|nl2br }}</div>
      </article>
      <h4><a href="http://localhost:8000/app_dev.php/delete/{{ post.id }}">
        Delete x</a> |
        <a href="http://localhost:8000/app_dev.php/blog/{{ post.id }}">
          Read more +</a>
      </h4>
      {% endblock %}

      <hr>

    {% endfor %}

  {% endblock %}

  {% block footer %}
    <footer>
      <h1>FOOTER</h1><hr>
      <p><strong>Copyleft © 2017</strong></p>
      <p><strong>Created by: Jonás Márquez |
        <a href="https://www.linkedin.com/in/jonasmarquez/">LinkedIn</a> |
        <a href="https://gitlab.com/jonas.marquez/blog">GitLab</a> |
        <a href="https://jonasmarquez.me">Personal Blog</a></strong></p>
    </footer>
  {% endblock %}



{% endblock %}
