{% extends "::layout.html.twig" %}

{% block body %}



{% block cabecero_block %}
  <img src="{{ asset('bundles/blogmain/images/logo.png') }}"

  width="50px" style="float:left; margin-right:50px;"></img>
  <h1>MY WEB BLOG</h1>
  <hr>
  <h4><a href="http://localhost:8000/app_dev.php/new">
    Add new Post</a></h4><hr>
{% endblock %}



  {% block posts_block %}

    {% for post in posts %}

      {% block post %}
      <article>
        <h2>{{ post.postTitle }}</h2>
        <h4>{{ post.postDate }} |
          <a href="http://localhost:8000/app_dev.php/blog/{{post.postUser}}">
          {{ post.postAutor }}</a></h4>
          {% if post.imageName %}
            <img src="{{ asset('bundles/blogmain/images/posts/') }}{{ post.imageName }}"

            width="auto" style="margin:1em;"></img>
          {% endif %}
          <div>{{ post.postContent | nl2br }}</div>
      </article>
      <h4><a href="http://localhost:8000/app_dev.php/delete/{{ post.id }}">
        Delete x</a> |
        <a href="http://localhost:8000/app_dev.php/blog/{{ post.id }}">
          Read more +</a>
      </h4>
      {% endblock %}

      <hr>

    {% endfor %}

  {% endblock %}



{% endblock %}
